/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Shadows+Into+Light');

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2em;
}

/* Copied githubs markdown blockqoute style */
blockquote {
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}